@page "/"
@inject IRESTConuntriesServiceV2 restCountries

@if (countriesList.Count >  0)
{
    @foreach (var countrey in countriesList)
    {
        <div>
            @countrey.name
        </div>
    }
}

@code{

    List<CountreyV2> countriesList = new();

    protected override async Task OnInitializedAsync()
    {
        countriesList = await restCountries.GetAllCountries();
    }
}