@inject IJSRuntime JS

<header class="header">
    <p class="header__logo">Hello world!</p>
    <button @onclick="DarkMode" class="header__toggle-dark-mode" aria-label="toggle dark mode" title="Toggle dark mode">
        <i class="@(darkMode is false ? "fa-solid fa-moon" : "fa-solid fa-sun")"></i>
     </button>
</header>

@code {
    bool darkMode = false; 

    async Task DarkMode()
    {
        await JS.InvokeVoidAsync("darkmode");
        darkMode = !darkMode;
    }
}
